//- upfront --------------------------------------------------------------------
//------------------------------------------------------------------------------
// LAYOUTS: CONTAINERS
//------------------------------------------------------------------------------

.l-constrained
.l-constrained-loose
.l-constrained-tight
  max-width $upft-constrainedWidth
  margin auto
  padding $upft-constrainedBasePadding
  overflow hidden

.l-constrained-tight
  padding $upft-constrainedTightPadding

.l-constrained-loose
  padding $upft-constrainedLoosePadding
