//- upfront --------------------------------------------------------------------
//------------------------------------------------------------------------------
// LAYOUTS: CONTAINERS
//------------------------------------------------------------------------------

.l-constrained
  max-width 1200px
  margin auto
  padding 2.5em 0
  overflow hidden

.l-constrained-tight
  padding 1em 0

.l-constrained-tightest
  padding 0
