//- upfront --------------------------------------------------------------------
//------------------------------------------------------------------------------
// LAYOUTS: CONTAINERS
//------------------------------------------------------------------------------

.l-constrained
  max-width 970px
  margin auto
  padding 2.5em 0
  overflow hidden

.l-constrained-tight
  padding .2em 0

.l-constrained-tightest
  padding 0
