mixin upBox(custClass)
  div(class=".m-up-box" + custClass)
    .m-up-box-top
      b.m-up-box-tl
      b.m-up-box-tr
    .m-up-box-left
      .m-up-box-right
        .m-up-box-body
          block
    .m-up-box-bottom
      b.m-up-box-bl
      b.m-up-box-br
