//- upfront --------------------------------------------------------------------
//------------------------------------------------------------------------------
// RESET
//------------------------------------------------------------------------------

@import 'nib'

// CORE
//------

// nib reset
global-reset()

*
  box-sizing border-box
