//- upfront --------------------------------------------------------------------
//------------------------------------------------------------------------------
// DEFAULT SETTINGS
//------------------------------------------------------------------------------

// COLOR
//--------

$upft-bgColor       = white unless $upft-bgColor is defined 
$upft-txtColor      = black unless $upft-txtColor is defined 
$upft-headingsColor = $upft-txtColor unless $upft-headingsColor is defined 

$upft-linkColor      = orange unless $upft-linkColor is defined 
$upft-linkHoverColor = red unless $upft-linkHoverColor is defined 


// TYPE
//------

$upft-baseFontSize   = 14px unless $upft-baseFontSize is defined 
$upft-baseLineHeight = 20px unless $upft-baseLineHeight is defined 
$upft-baseFontFamily = Monaco, Menlo, Consolas, "Courier New", monospace unless $upft-baseFontFamily is defined 

$upft-headingsFontFamily = $upft-baseFontFamily unless $upft-headingsFontFamily is defined 
$upft-headingsFontWeight = bold unless $upft-headingsFontWeight is defined 


// LAYOUT
//--------

// constrained
$upft-constrainedWidth        = 960px unless $upft-constrainedWidth is defined 
$upft-constrainedBasePadding  = 1em 0 unless $upft-constrainedBasePadding is defined 
$upft-constrainedLoosePadding = 2.5em 0 unless $upft-constrainedLoosePadding is defined 
$upft-constrainedTightPadding = 0 unless $upft-constrainedTightPadding is defined 

// grid (line/unit)
$upft-gridGutterWidth = 30px unless $upft-gridGutterWidth is defined 
