//- upfront --------------------------------------------------------------------
//------------------------------------------------------------------------------
// SETTINGS
//------------------------------------------------------------------------------
// NOTE: Need to add intelligent way to set custom values for these default
//       settings. The ternary operator is just too verbose.

// GRID SETTINGS
//---------------

$upftGridGutterWidth = 30px
