//- upfront --------------------------------------------------------------------
//------------------------------------------------------------------------------
// MODULE: UI SHOWCASE
//------------------------------------------------------------------------------

@import 'nib'

// GRID
//------

.m-ui-showcase-line
  background lighten(#000, 95%)
  border 1px dashed darken(@background, 50%)
  margin 2px 0
  padding 14px 2px 2px
  overflow hidden

  &:hover
    border-style solid

    .m-ui-showcase-line-details
      opacity 1

  .m-ui-showcase-line-details
    background darken(@background, 50%)
    color lighten(@background, 90%)
    position absolute
    margin -15px 0 0 -3px
    font-size 10px
    font-family Courier
    padding 1px
    opacity 0.2

  .m-ui-showcase-unit

    .m-ui-showcase-unit-details
      $bd = #00b2ee
      $bg = lighten($bd, 30%)

      padding 2px
      background lighten($bg, 50%)
      border 1px dashed lighten($bd, 50%)
      color black
      font-size 12px
      font-family Courier

      &:hover
        //background $bg
        border-color $bd
        border-style solid
